*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border-style: solid;
  border-color: red;
  border-width: 3px; }

html {
  font-size: 62.5%;
  background-color: #343536; }

body {
  padding: 4rem; }

.header {
  position: absolute;
  font-size: 2.5rem;
  color: white; }

.board {
  position: relative;
  max-width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 7px;
  border-color: red; }
  .board .btn {
    position: absolute;
    width: 13rem;
    height: 13rem;
    border-radius: 13rem;
    font-size: 11rem;
    font-weight: bold; }
    .board .btn--green {
      color: #00ff08;
      border-color: #00ff08;
      background: none;
      border: 10px solid;
      display: inline-block;
      top: 0%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%); }
      .board .btn--green:hover {
        color: #343536;
        background: #00ff08; }
      .board .btn--green:active {
        top: 0%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%); }
    .board .btn--pink {
      color: #ff00d4;
      border-color: #ff00d4;
      background: none;
      border: 10px solid;
      display: inline-block;
      top: 50%;
      transform: translate(0, -50%); }
      .board .btn--pink:hover {
        color: #343536;
        background: #ff00d4; }
      .board .btn--pink:active {
        top: 50%;
        transform: translate(0, -50%); }
    .board .btn--orange {
      color: #ec4c08;
      border-color: #ec4c08;
      background: none;
      border: 10px solid;
      display: inline-block;
      top: 50%;
      right: 0%;
      transform: translate(0, -50%); }
      .board .btn--orange:hover {
        color: #343536;
        background: #ec4c08; }
      .board .btn--orange:active {
        top: 50%;
        right: 0%;
        transform: translate(0, -50%); }
    .board .btn--blue {
      color: #2d12c7;
      border-color: #2d12c7;
      background: none;
      border: 10px solid;
      display: inline-block;
      top: 78%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%); }
      .board .btn--blue:hover {
        color: #343536;
        background: #2d12c7; }
      .board .btn--blue:active {
        top: 78%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%); }
  .board .menu {
    width: 4%;
    height: 4%;
    position: absolute; }
    .board .menu--start {
      background-color: #FC0102; }
    .board .menu--strict {
      background-color: yellow; }
