*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: #1a1717; }

.header {
  position: absolute;
  left: 82.5rem;
  top: 31.5rem;
  font-size: 2rem;
  color: white; }
  .header--count {
    position: absolute;
    left: 1rem; }
  .header--start {
    position: absolute;
    left: 29.5rem; }
  .header--strict {
    position: absolute;
    left: 38.5rem; }

.board {
  position: relative;
  width: 100vw;
  height: 100vh; }
  .board .btn {
    width: 19vw;
    height: 19vw;
    border-radius: 19vw;
    font-size: 17vw; }
    .board .btn--green {
      color: #00ff08;
      border-color: #00ff08;
      position: absolute;
      background: none;
      border-style: solid;
      transform: translate(50vw, 0); }
    .board .btn--pink {
      color: #ff00d4;
      border-color: #ff00d4;
      position: absolute;
      background: none;
      border-style: solid;
      transform: translate(25vw, 25vh); }
    .board .btn--orange {
      color: #c04b15;
      border-color: #c04b15;
      position: absolute;
      background: none;
      border-style: solid;
      transform: translate(75vw, 25vh); }
    .board .btn--blue {
      color: #2d12c7;
      border-color: #2d12c7;
      position: absolute;
      background: none;
      border-style: solid;
      transform: translate(50vw, 50vh); }
  .board .menu {
    width: 4%;
    height: 4%;
    position: absolute; }
    .board .menu--start {
      background-color: #FC0102; }
    .board .menu--strict {
      background-color: yellow; }
