*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border-style: solid;
  border-color: red;
  border-width: 3px; }

html {
  font-size: 62.5%;
  background-color: #1a1717; }

.header {
  position: absolute;
  left: 45vw;
  top: 30vh;
  font-size: 2vw;
  color: white; }
  .header--count {
    position: absolute; }
  .header--start {
    position: absolute;
    left: 15vw; }
  .header--strict {
    position: absolute;
    left: 23vw; }

.board {
  position: relative;
  max-width: 80%;
  padding: 1rem;
  height: 80%; }
  .board .btn {
    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    font-size: 5rem;
    font-weight: bold; }
    .board .btn--green {
      position: absolute;
      color: #00ff08;
      border-color: #00ff08;
      background: none;
      transform: translate(0, 0); }
      .board .btn--green:hover {
        color: #1a1717;
        background: #00ff08; }
    .board .btn--pink {
      position: absolute;
      color: #ff00d4;
      border-color: #ff00d4;
      background: none;
      transform: translate(6.25rem, 25rem); }
      .board .btn--pink:hover {
        color: #1a1717;
        background: #ff00d4; }
      .board .btn--pink:active {
        transform: translate(6.25rem, 25rem) scale(1.1); }
    .board .btn--orange {
      position: absolute;
      color: #c04b15;
      border-color: #c04b15;
      background: none;
      transform: translate(18.75rem, 25rem); }
      .board .btn--orange:hover {
        color: #1a1717;
        background: #c04b15; }
      .board .btn--orange:active {
        transform: translate(18.75rem, 25rem) scale(1.1); }
    .board .btn--blue {
      position: absolute;
      color: #2d12c7;
      border-color: #2d12c7;
      background: none;
      transform: translate(12.5rem, 50rem); }
      .board .btn--blue:hover {
        color: #1a1717;
        background: #2d12c7; }
      .board .btn--blue:active {
        transform: translate(12.5rem, 50rem) scale(1.1); }
  .board .menu {
    width: 4%;
    height: 4%;
    position: absolute; }
    .board .menu--start {
      background-color: #FC0102; }
    .board .menu--strict {
      background-color: yellow; }
