@mixin play-button($color){
    
    color:$color;
    border-color:$color; 
    position:absolute;
    background:none;        
    border-style: solid;
    
}


@mixin menu-button($radius){
    width: $radius * 2;
    height: $radius * 2;
    position:absolute;
}