@mixin play-button($color){
    
    color:$color;
    border-color:$color; 
    background:none;        
    border: 10px solid;
    display: inline-block;
    
    
}


@mixin menu-button($radius){
    width: $radius * 2;
    height: $radius * 2;
    position:absolute;
}
