//  BUTTON-COLROS
$color-off-blue: #2d12c7;
$color-off-pink: #ff00d4;
$color-off-orange: #c04b15;
$color-off-green: #00ff08;

//  BUTTON-MENU
$color-on: #FC0102;
$color-strict: yellow;
$color-onoff: #3193DE;

//  CIRCLE RADIUS
$radius: 19vw;
$symbol: 17vw;

// FONT
$default-font-size:1.6rem;

//  POSITIONS
$x: 100vw;
$y: 100vh;
