//  BUTTON-COLROS
$color-off-blue: #094a8f;
$color-off-red: #9f0f17;
$color-off-yellow: #cca707;
$color-off-green: #00a74a;

$color-on-red: #FC0102;
$color-on-yellow: yellow;
$color-onoff: #3193DE;
//  CIRCLE RADIUS
$radius: 2rem;

// FONT
$default-font-size:1.6rem;
