.board{
    position:relative;

.btn{
    width:10rem;
    height:10rem;
    border-radius:10rem;
    position:absolute;

    &--green{
        background-color:$color-green;
        top:10rem;
        
    }
    &--red{
        background-color:$color-red;
    }
    &--yellow{
        background-color:$color-yellow;
    }
    &--blue{
        background-color:$color-blue;
    }
}

}

