.board{
    position:relative;
    width:100vw;
    height:100vh;
    //display:block;
.btn{
    @include rectcurve-button(4%);

    &--green{
        background-color:$color-off-green;
        left:50%;
        top:50%;
    }
    &--red{
        background-color:$color-off-red;
        left:30%;
        top:25%;
    }
    &--yellow{
        background-color:$color-off-yellow;
        left:70%;
        top:25%;
    }
    &--blue{
      left:50%;
        background-color:$color-off-blue;
    }
}
.menu{
 @include rectangular-button(2%);

  &--start{
    background-color:$color-on;
    top: 25%;
    left:60%;
  }
  &--strict{
      top:25%;
      left:65%;
    background-color:$color-strict;
  }

}

}
