*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border-style: solid;
    border-color:red;
    border-width: 3px;
}

html{
    font-size: 62.5%;
    background-color:$background-color;
}