.header{
    position:absolute;
    left:45vw;
    top:30vh;
    font-size:2vw;
    color:white;


    &--count{
        position:absolute;
        
    }
    &--start{
        position:absolute;
        left:15vw;
        
    }
    &--strict{   
        position:absolute;        
        left:23vw;
    }
}
