.header{
    position:absolute;
    left:82.5rem;
    top:31.5rem;
    font-size:2rem;
    color:white;


    &--count{
        position:absolute;
        left:1rem;
    }
    &--start{
        position:absolute;
        left:29.5rem;
        
    }
    &--strict{   
        position:absolute;        
        left:38.5rem;
    }
}
